@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  animation-duration: 0s !important;
  scrollbar-width: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 10px;
}

@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}
